APP_HTTP_ADDR=8080

# PostgreSQL
APP_POSTGRES_USER=postgres
APP_POSTGRES_PASS=postgres
APP_POSTGRES_HOST=localhost
APP_POSTGRES_PORT=5432
APP_POSTGRES_DB=db_name
APP_POSTGRES_SSL_MODE=disable

# Kafka
APP_KAFKA_BROKERS=localhost:9091
APP_KAFKA_TOPIC=topic-name
APP_KAFKA_GROUP=

# Processor
APP_STORAGE_PATH=./path/to/storage
APP_WATERMARK_TEXT=my_watermark
APP_WATERMARK_PATH=./assets/RobotoMono-Regular.ttf # path to font file. If not exists, processor will use default font with fixed unchangeable size